.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.bouton_item {   
   width: 145px;
}

.bouton_volet_recherche{
    width: 135px;
}

.emplacement_boutons_item{
  text-align: right;
   margin-right: 15px;
   margin-bottom: 15px;
}


/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
  position:relative;
  margin-top: 
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}


#formulaire {
      width: 500px;
      height: auto;
      margin: auto;
      border: solid 1px;
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 20px;
      border-radius: 5px;
    }